
<% include ../html-template/header.ejs %>
<p><%= campgrounds.name %></p>
<img src="<%= campgrounds.image %>">
<p><%= campgrounds.description %></p>
<p><%= campgrounds.campDescription %></p>
<% campgrounds.comments.forEach(function(comment){ %>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
<% }); %>
<% include ../html-template/footer.ejs %>
